//Media queries

@media (max-width: 1002px){
    header{
        .container{
            width: 75%;
        }
    }
}
@media (max-width: 920px){
    header{
        .container{
            width: 75%;
            padding: 0 2.5rem;
            .logo-920px {
                position: absolute;
                left: 10px;
                top: 15px;
                display: block;
            }
        }
    }
//navbar
    .logo{
        display: none;
    }
}

@media (max-width: 763px){
    header{
        .container{
            width: 80%;
        }
    }
    .navbar {

        ul {
            li a{
                font-size: 1.3rem;
            }
        }
    }
}


@media (max-width: 717px){
    .container{
        padding: 0 1.5rem;
    }
    .navbar {
        ul {
            li a{
                font-size: 1.3rem;
            }
        }
    }
}


@media (max-width: 705px){
    .container{
        padding: 0 1.5rem;
    }
    .navbar{
        width: 100%;
        top: unset;
        position: fixed;
        bottom: 0;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
        ul li a{
            font-size: 12px;
        }
        ul li a svg{
            display: block;
            margin: 0 auto 10px;
        }
    }
}



@media (max-width: 500px){
    header{
        .container{
            padding: 0 1rem;
            width: 90%;
        }
    }
    .navbar{
        padding: 0;
    }
}


@media (max-width: 412px){
    header{
        .container{
            h1{
                font-size: 2.5rem;
            }
        }
    }
}  

@media (max-width: 346px){
    header{
        .container{
            width: 100%;
            padding: 0 1.2rem;
            h1{
                font-size: 2.3rem;
            }
        }
    }
}  

